.helloInput {
  width: 200px;
}

.title{
  color: #004d00;
  text-shadow:
    4px 4px white;
    
}
.mainText{
  color:black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;  
  background-image: url("healthy.jpg");
  background-size: 100%;
  

}

backgroundimage {
  background-image: url("healthy.jpg");
  background-size: 100%;
  opacity: 50%;

}

.page-footer{
  background-color: #004d00;
  text-align: left;
}
main {
  flex: 1 0 auto;
}


    