.helloInput {
  width: 200px;
}

.title{
  color: #00a8f3;
  text-shadow: 4px 4px white;
  font-size: 100px;
    
}
.mainText{
  color:white;
}

.button{
  background-color:#00a8f3;
}

.details{

  font-size: small!important; 

  font-weight: bold!important;
}

.collapsible{
  background-color: #00a8f3;
  font-weight: bold;
}

main {
  flex: 1 0 auto;
  text-align: center;
}
.main-button {
  background-color: #00a8f3;  
} 

.pacman{
  margin-top: 200px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black; 
  background-size: contain;
}

.nav-wrapper{
  background-color: #00a8f3;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.page-footer{
  background-color: #00a8f3;
}

.card .card-image img{
  height: 200px;

}

.clown{
  width: 100px;
  height: auto;
}

body {
  background-color: black;
}
